.table{
    display: grid;
    grid-template-rows: repeat(auto-fill,40px);
   
    .table__head{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        font-weight: bolder;
    }
}