
    .table__line{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        .table__number{
            color: black;
        }
        .table__english{
            color: black;
        }
        .table__transcription{
            color: black;
        }
        .table__russian{
            color: black;
        }
        .table__buttons{
            color: black;
        }
    }
