.container {
    display: flex;
    flex-direction: column;
    width: 12.4vw;
    height: 40vh;
    text-align: center;
    gap: 1px;

    &__head {
        height: 5vh;
    }

    ;

    &__price {
        flex-grow: 1
    }

    ;

    &__speed {
        height: 5vh;
    }

    ;

    &__terms {
        height: 12vh;
    }

    ;
}

.container-green {

    &__head {
        background-color: rgb(149, 187, 174)
    };

    &__price {
        background-color: rgb(106, 214, 176)
    };

    &__speed {
        background-color: rgb(255, 255, 255)
    };

    &__terms {
        background-color: rgb(149, 151, 150)
    };
}
.container-pink {

    &__head {
        background-color: rgb(187, 149, 187)
    };

    &__price {
        background-color: rgb(214, 106, 196)
    };

    &__speed {
        background-color: rgb(255, 255, 255)
    };

    &__terms {
        background-color: rgb(149, 151, 150)
    };
}

.container-blue {
height:45vh;
    &__head {
        background-color: rgb(149, 161, 187)
    };

    &__price {
        background-color: rgb(106, 126, 214)
    };

    &__speed {
        background-color: rgb(255, 255, 255)
    };

    &__terms {
        background-color: rgb(149, 151, 150)
    };
}

.container-yellow {

    &__head {
        background-color: rgb(187, 180, 149)
    };

    &__price {
        background-color: rgb(214, 212, 106)
    };

    &__speed {
        background-color: rgb(255, 255, 255)
    };

    &__terms {
        background-color: rgb(149, 151, 150)
    };
}